<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="{daoPackageName}.{daoName}">

	<!-- ResultMap -->
	<resultMap id="{beanName}ResultMap" type="{beanPackageName}.{beanName}">
{resultMap}
	</resultMap>

	<!-- SQL片段 -->
	<sql id="{beanName}Column">
{columnNames}
	</sql>

	<sql id="where">
		<if test="params != null">
			<where>
{where}
			</where>
		</if>
	</sql>

	<!-- DQL -->
	<select id="findAll" resultMap="{beanName}ResultMap">
		select 
			<include refid="{beanName}Column" />
		from {table_name} t
		<include refid="where" />
	</select>

	<select id="findById" resultMap="{beanName}ResultMap">
		select 
			<include refid="{beanName}Column" />
		from 
			{table_name} t where t.id = #{id}
	</select>

	<select id="count" resultType="int">
		select count(1) from {table_name} t
		<include refid="where" />
	</select>

	<!-- DML -->
	<insert id="save">
		insert into {table_name}
		<trim prefix="(" suffix=")" suffixOverrides=",">
{insert_columns}
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
{insert_values}
		</trim>
	</insert>

	<update id="update">
		update {table_name} t
		<trim prefix="set" suffixOverrides=",">
			{update_sets}
		</trim>
		where t.id = #{id}
	</update>

	<delete id="deleteById">
		delete from {table_name} where id = #{id}
	</delete>

	<delete id="delete">
		delete from {table_name}
		<include refid="where"></include>
	</delete>

</mapper>